#song { margin-top: 2em; font-size: 12px; font-family: Verdana, Arial; }
#song table.chords td,
#song table.chords th { padding: 0; margin: 0; text-align: left; white-space: pre; }
#song table.chords th { padding: 0 10px 0 0; }
#song table.chords { margin-top: 0.2em; border-collapse: collapse; border: 0; }
#song br { margin-top: 2em; }
#song table.chords tr.chords { color: red; }
#song table.chords tr.normalized-chords { color: blue; }

#song .author:before { content: "(" ; }
#song .author:after { content: ")" ; }
#song .title { color: blue; margin: 0.1em 0; }
#song .author { color: grey; margin: 0.1em 0; }
#song .artist { color: black; margin: 0.1em 0; }
#song .tone { color: red; margin: 0.3em 0 1em 0; font-size: 14px; cursor: pointer; }
#song .tone:before { content: "Tom: "; }

@media print {
  #song table.chords tr.chords,
  #song .title, #song .author, #song .artist, #song .tone { color: black; }
  #header {display: none; }
}
